<template name="addclue">
<div class="modal">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">x</a>
		<h3>Add Footprint</h3>
	</div>
	<div class="modal-body">
		<label for="title">Title</label>
		<input class="title" type="text" name="title" value="" id="title">
		<label for="description">Description</label>
		<input class="description" type="text" name="description" value="" id="description">
		<label for="url">URL</label>
		<input class="src input-xlarge" type="text" name="url" value="" id="url">
		<label for="relationtomp">Relation to {{firstname}}</label>
		<input class="relationtomp" type="text" name="relationtomp" value="" id="relationtomp">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-success save">Save</a>
		<a href="#" class="btn cancel" data-dismiss="modal">Cancel</a>
	</div>
</div>
</template>