<template name="mpprofile">
<!--
	<div>
		<ul class="nav pull-right">
			<li><a class="addClueClass" href="#">What do you know about {{firstname}}?</a></li>
		</ul>
	</div>
-->

	<div class="profileside">
		<div class="profilepic"> <img src="{{profilepicture}}"/> </div>

		Nickname: {{nickname}} <br>
		Full Name: {{firstname}} {{lastname}}<br>
		<br>
		Missing since: {{datemissing}}<br>
		Count: {{datemissingcount}} days<br>
		<br>
		Gender: {{gender}}<br>
		Age Today: {{agetoday}}<br>
		Eye Color: {{eyecolor}}<br>
		Height: {{height}}<br>
		Hair Color: {{haircolor}}<br>
		Detective Name: {{detectivename}}<br>
		Detective Phone: {{detectivephone}}<br>
		<br>
		{{> minimap}}
	</div>


	<div class="profilebody">
		<a class="addClueClass" href="#">What do you know about {{firstname}}?</a>
		{{> allclues}}
	</div>
	
</template>