<template name="mpprofile">
<!--
	<div>
		<ul class="nav pull-right">
			<li><a class="addClueClass" href="#">What do you know about {{firstname}}?</a></li>
		</ul>
	</div>
-->

	<div class="profileside">
		<h3> {{firstname}} {{lastname}} </h3>
		<div class="profilepic"> <img src="{{profilepicture}}"/> </div>

		<div class="datemissingbox">
			<span class="datemissingbuffer"> Missing for </span>
			<span class="datemissing">{{datemissingcount}}</span>
			<span class="datemissingbuffer"> days</span>
		</div>
		

		<div class="appealbox">
			<p>{{appeal}} - {{appealrelation}} </p>
			
		</div>

		<div class="detailsbox">
			<details>
				<summary>Identification</summary>
				<p class="expandabletext">
					Nickname: {{nickname}} <br>
					Missing since: {{datemissing}}<br>
					Gender: {{gender}}<br>
					Age Today: {{agetoday}}<br>
					Eye Color: {{eyecolor}}<br>
					Height: {{height}}<br>
					Hair Color: {{haircolor}}<br>
				</p>
			</details>
		</div>

		<div class="detailsbox">
			<details>
				<summary>Contact</summary>
				<p class="expandabletext">
					Detective Name: {{detectivename}}<br>
					Detective Phone: {{detectivephone}}<br>
				</p>
			</details>
		</div>
		
	</div>


	<div class="profilebody">
		{{> minimap}}
		<div class="addClueBox"> 
			<a class="addClueClass" href="#"> 
				<h4> What do you know about {{firstname}}? </h4> 
			</a> 
		</div>
		{{> allclues}}
	</div>
	
</template>