<template name="mpprofile">
	<div class="navbar navbar-static-top">
		<div class="navbar-inner"> 
			<!-- <a class="brand" href="#">Café Shoebox</a> -->
			<a class="brand" href="/">
				<img src="/cafe-shoebox-icon.png"/>
			</a>
			<ul class="nav pull-right"> <!-- keep it from going off the page -->
				{{> loginButtons align="right"}}
			</ul>
			<ul class="nav pull-right">
				<li><a class="addClueClass" href="#">What do you know about (me)?</a></li>
			</ul>
		</div>
	</div>

	<div class="profileside">
		<img src="/profile-pic.jpg"/>

		Nickname: {{nickname}} <br>
		Full Name: {{firstname}} {{lastname}}<br>
		<br>
		Missing since: {{datemissing}}<br>
		Count: {{datemissingcount}}<br>
		<br>
		Gender: {{gender}}<br>
		Age Today: {{agetoday}}<br>
		Eye Color: {{eyecolor}}<br>
		Height: {{height}}<br>
		Hair Color: {{haircolor}}<br>
		<br>
		{{> minimap}}
	</div>


	<div class="profilebody">
		{{> allclues}}
	</div>
	
</template>